<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
</head>
<body>
    {% include 'nacbar.html' %}
    <br>
    <div class="Soku">
        <iframe width="1280" height="530" src="https://www.youtube-nocookie.com/embed/7eh4d6sabA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <a href="/quiz/">
        <button>Quiz</button>
        </a>
    </div>
</body>
<style>
    button {
  background-color: #ee05c7cb; 
  border: none; 
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #f1eded;
}
</style>
</html>